// Place all the styles related to the api/meets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.meet-greet-form-div select, .meet-greet-form-div input, .meet-greet-form-div {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $darkViolet;
    color: white;
    padding: 10px 0px 10px 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 20px;
    margin: 8px 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
}

.meet-error-list {
   color: $cyanAccent;
   font-size: 12px;
   line-height: 1.5;
   padding-bottom:20px
}

.header-div {
    // border-bottom: 1px white solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.pup-thumbnail-meet {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px white solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.time-picker-div {
    background-color: white;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.089) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.meet-header, .meet-header > h1 {
    display: block;
    line-height: 1.2;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    color: white
}

.calendar-form {
    display: block;
    width: 300px;
    line-height: 2.0;
    margin-top: 20px;
}

.form-div {
    min-width: 300px;
    max-width: 500px;
    padding: 30px;
    outline: none;
}

.time-dropdn select {
    width: 130px;
    min-height: 35px;
    border-radius: 3px; 
    outline: none;
    font-family: "Poppins" sans-serif;
   
}

.time-select {
    width: 125px;
    // min-height: 35px;
    // border-radius: 4px;
    // padding-left: 15px;
}

#end-time-select {
    width: 130px;
}

.time-dropdn::after {
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
   appearance: none !important;
}

.form-div label {
    font-size: 14px;
    padding-bottom: 10px
}

.start-time, .end-time {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    width: 140px;
}

.time-div {
    display: flex;
    width: 94%;
    justify-content: space-between;

}

#pre-populated-values {
    font-weight: 600;
    color: $strongViolet;
}

#date-input {
    display: flex;
    flex-direction: row;
}


.meeting-type-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.meeting-type-div {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    width: 90%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $strongViolet;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.meet-form label {
    color: white;
}

.meet-form input, .meet-form select {
    background-color: white;
    color: $darkGray
}

.meet-form-submit-button {
  border: 1px solid white;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 94%;
}

// EDIT FORM 

.edit-pup-thumbnail-meet {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid $strongViolet;
    object-fit: cover; 
}   

.edit-meet-form-div, .edit-meet-form-div input, .edit-meet-form-div select {
    width: 90%;
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: center;
    // border-radius: 20px;
    padding: 10px 0px 10px 10px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    margin: 8px 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
}

.edit-meet-header {
    color: $darkGray;
    font-size: 30px;
    line-height: 1.2;
    display: block;
    padding: 20px 0;
    text-align: center;
}


 .edit-meet-form-div input, .edit-meet-form-div select {
    border: 1px solid #a0a0a0;
    color: $darkGray;
 }

.edit-form-submit-button {
  border: 1px solid #260273;
  font-family: 'Poppins', sans-serif;
  color: $darkViolet;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 94%;
}

.edit-form-submit-button:hover {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: $darkViolet;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 94%;
}

.edit-meet-form-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $darkGray;
    padding-top: 30px;
}

.edit-span {
  color: $strongViolet
}

.meet-grid {
    position: relative;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    justify-content: center;
}

.meet-item-div{
    height: 105px;
    width: 500px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray
}

.meet-item-wrapper {
    // overflow: hidden;
   display: flex;
   align-items: center;
   width: 100%;
}

.meet-item-pup-thumb {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

.meet-index-header {
    font-size: 30px;
    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray
}

.no-meets-message {
    margin-top: 50px;
    font-weight: 300;
}

.meet-item-info {
    padding-left: 40px;
    line-height: 1.5;
    width: 50%;
}

.meet-item-info > h1 {
    font-size: 20px;
    color: $darkViolet;
}

.meet-item-info > h3 {
    font-size: 15px;
}

.meet-item-info > p {
    font-size: 12px;

}

.meet-item-buttons {
    width: 200px;
    display: flex;
    padding-left: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.edit-button, .trash-button {
    font-size: 1.4rem;
    color: $darkGray;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button:hover, .trash-button:hover {
    font-size: 1.5rem;
    background-color: $lightGray;
    border-radius: 50%;
    color: $darkViolet;
}

.meet-time-note {
    font-size: 10px;
    line-height: 1.3;
    width: 300px;
    padding-top: 10px;
    font-style: italic;
    font-weight: 200;
}

.meets-length-span::before{
    content: "(";
    font-weight: 300;
}

.meets-length-span::after{
    content: ")";
    font-weight: 300;
}