// Place all the styles related to the api/preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.preference-form-outer-div{
    background-color: #260273;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 1500px;
}

.preference-form-inner-div {
    min-width: 1024px;
    max-width: 1220px;
    background-color: white;
    min-height: 100%;
    border-radius: 20px
}