// Place all the styles related to the api/pups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card-div {
    // background-color: aqua;
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card-wrapper {
    // border: 1px solid red;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 400px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pup-card-text {
    // background-color: rosybrown;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.pup-card-name {
    // background-color: blue;
    font-size: 25px;
    color: #260273;
}

.pup-card-description {
    // background-color: blueviolet;
    color: rgb(65, 65, 65);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    text-overflow: hidden;
    padding-top: 10px;
}

.pup-card-age {
    padding: 3px;
    font-weight: 600;
}

.pup-card-breed {
    padding: 8px;
    text-overflow: ellipsis;
}

.pup-card-img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}


//pup show page

.pup-show-div {
    width: 100vw;
    // background-color: rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pup-show-main-wrapper {
    // background-color: royalblue;
    width: 90%;
    height: 800px;
}

.pup-show-top-links-wrapper {
    background-color: #260273;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.pup-show-top-links {
    width: 85%;
    color: white;
    font-size: 13px;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pup-show-header {
    // background-color: yellow;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #260273;
    padding: 18px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.pup-show-img-div {
    background-color: green;
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pup-show-img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
}

.left-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    left: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
}