// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.user-show-outer-div {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px
}

.user-show-inner-div {
    min-width: 1024px;
    max-width: 1220px;
    margin-bottom: 150px;
    min-height: 800px;
}

.user-profile {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: flex;
    justify-content: center;
    min-height: 800px;
}

.user-icon {
    font-size: 2rem;
}

.user-name {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 200
}

.user-about {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.user-about > h1 {
    width: 93%;
    padding: 30px 0px 20px 0px;
    font-size: 30px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.user-info {
    width: 70%;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
}

.user-links {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-top: 30px;
}

.user-show-link {
    padding: 15px 70px;
    border: 2px solid #260273;
    border-radius: 20px;
    color: $darkViolet;
}

.user-show-link:hover {
    padding: 15px 70px;
    background-color: $darkViolet;
    border-radius: 20px;
    color: white;
}

.no-profile-img {
    font-size: 10rem;
    margin-top: 20px
}