.footer-wrapper {
    width: 100%;
    height: auto;
    color: white;
    /* position: absolute; */
    bottom: 0;
    background-color: #260273;
}

.footer-div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    height: 200px;
    font-size: 12px;
    line-height: 1.4;
}

.about-me, .my-links, .petfinder {
    flex-basis: 25%;
    padding: 10px;
}