 html {
     height: auto;
 }
 
 body {
     min-width: 100vw;
     min-height: 100vh;
     display: flex;
     flex-direction: center;
     justify-content: center;
 }
 
 #root {
     /* background-color: cornflowerblue; */
     position: relative;
     width: 90%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
 }

 .app {
     /* background-color: rgb(233, 233, 233); */
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     /* padding-top: 30px; */
     min-width: 100vw;
     /* max-width: 1920px; */
     /* min-width: auto; */
     min-height: 100vh;
     color: rgb(65, 65, 65);
 }

 .top-navbar-wrapper {
     background-color: white;
     /* border-bottom: 1px solid rgb(190, 190, 190); */
     /* box-shadow: rgba(0, 0, 0, 0.11) 2.4px 2.4px 3.2px; */
     padding-top: 12px;
     padding-bottom: 12px;
     min-width: 100%;
     max-width: 100%;
     height: 50px;
     position: sticky;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 100;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .top-navbar {
     /* background-color: wheat; */
     min-width: auto;
     width: 90%;
     height: 100%;
     display: flex;
     /* position: sticky;
     top: 0; */
     /* left: 0; */
     align-items: center;
     justify-content: space-between;
     color: rgb(65, 65, 65);
 }

 .top-navbar-logo-div {
     /* background-color: violet; */
     width: 260px;
     height: 100%;
     display: flex;
     align-items: center;
 }

.top-navbar-logo {
    /* margin: auto; */
    display: block;
    min-width: 60%;
    max-width: 60%;
    min-height: 60%;
    padding-left: 10px;
}

.navbar-right {
    /* background-color: yellow; */
    height: 100%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.currentuser-name {
    /* background-color: aquamarine; */
    /* padding: 10px; */
    min-width: 50%;
    max-width: auto;
    height: 100%;
    color:rgb(65, 65, 65);
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-icon-div {
    /* background-color: cadetblue; */
    min-width: 30%;
    max-width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(190, 190, 190);
    fill:rgb(65, 65, 65)
}

/* .fav-icon:hover {
   color: #260273;
} */

.nav-signup, .nav-login, .nav-logout { 
    /* background-color: yellow; */
    display: flex;
    width: 70%;
    height: 50%;
    border-left: 1px solid rgb(190, 190, 190);
    align-items: center;
    justify-content: center;
}

.nav-logout {
    min-width: 50%;
}

.nav-signup:hover, .nav-login:hover, .nav-logout:hover { 
    color: #260273;
    font-weight: 700;
    cursor: pointer;
}

.home-wrapper {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    height: auto; 
    min-width: 1400px;
    max-width: 1400px;
}

.main-div {
    /* background-color: cadetblue; */
    width: 90%;
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.inner-home-div {
    /* background-color: blueviolet; */
    height: 600px;
    position: relative;
    padding-top: 20px
}

.pup-home-div {
    position: absolute;
    top: 50%;
    left: 20%;
    display: block;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
   /* max-width: 100%; */
}

/* PUP PICKS */

.pup-picks-home-div { 
    background-color: white;
    width: 100%;
    height: 410px;
    /* margin-top: 50px; */
}

.pup-picks-header {
    position: absolute;
    margin-top: 50px;
}

.pup-picks-link {
    font-size: 25px;
}

.pup-picks-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    min-height: 400px;
    gap: 15px
}

.pup-picks-wrapper {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 240px;
    min-height: 250px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.pup-picks-img {
    width: 265px;
    height: 200px;
    object-fit: cover;
    object-position: top
}

.pup-picks-name {
    padding: 10px;
    font-size: 20px;
    color: #260273;
    text-align: center;
}


/* MEET & GREET HOME */

.meet-greet-home-div {
    height: 550px;
    position: relative;
    overflow: hidden;
}

.meet-greet-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.meet-greet-text-div {
    /* position: absolute;
    top: 40%;
    left: 6%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet-greet-text-div > h1 {
    font-size: 60px;
    color: white;
    line-height: 1.2;
    font-weight: 200;
}

.meet-greet-text-div > p {
    font-size: 16px;
    line-height: 1.4;
    padding: 10px 0;
    color: white;
    font-weight: 400;
}

/* .meet-greet-text-div > p > span {
    background-color: #260273;
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
} */

.meet-greet-copy-div {
    display: flex;
    top: 10%;
    left: 11%;
    position: absolute;
}

.meet-greet-form-img {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/* ARTICLES */

.articles-home-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.articles-home-wrapper > h1 {
    font-size: 25px;
    color: #260273;
    padding-bottom: 50px;
}

.articles-home-div { 
    /* background-color: rgb(224, 224, 224); */
    width: 100%;
    height: 580px;
    display: flex;
    align-items: center;
    padding-top: 50px
}

.articles-list-wrapper {
    display: flex;
    gap: 3.6rem;
    overflow: hidden;
    height: 455px;
    width: 100%;
}

.article-div {
    min-width: 265px;
    height: 345px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.article-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.article-body {
    padding: 20px
}

.article-body h1 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 20px
}

.article-body p {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 200;
}
