 html {
     height: auto;
 }
 
 body {
     min-width: 100vw;
     min-height: 100vh;
     display: flex;
     flex-direction: center;
     justify-content: center;
 }
 
 #root {
     /* background-color: cornflowerblue; */
     position: relative;
     width: 90%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
 }

 .app {
     background-color: rgb(233, 233, 233);
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     /* align-items: center; */
     /* padding-top: 30px; */
     min-width: 100vw;
     /* max-width: 1920px; */
     /* min-width: auto; */
     min-height: 100vh;
     color: rgb(65, 65, 65);
 }

 .top-navbar-wrapper {
     background-color: white;
     /* border-bottom: 1px solid rgb(190, 190, 190); */
     /* box-shadow: rgba(0, 0, 0, 0.11) 2.4px 2.4px 3.2px; */
     padding-top: 12px;
     padding-bottom: 12px;
     min-width: 90%;
     max-width: 100%;
     height: 70px;
     position: sticky;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .top-navbar {
     /* background-color: wheat; */
     min-width: auto;
     width: 90%;
     height: 100%;
     display: flex;
     position: sticky;
     top: 0;
     left: 0;
     align-items: center;
     justify-content: space-between;
     color: rgb(65, 65, 65);
 }

 .top-navbar-logo-div {
     /* background-color: violet; */
     width: 260px;
     height: 100%;
     display: flex;
     align-items: center;
 }

.top-navbar-logo {
    /* margin: auto; */
    display: block;
    min-width: 60%;
    max-width: 60%;
    min-height: 60%;
    padding-left: 10px;
}

.navbar-right {
    /* background-color: yellow; */
    height: 100%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.currentuser-name {
    /* background-color: aquamarine; */
    /* padding: 10px; */
    min-width: 50%;
    max-width: auto;
    height: 100%;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-icon-div {
    /* background-color: cadetblue; */
    min-width: 30%;
    max-width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(190, 190, 190);
}

.fav-icon:hover {
   color: #260273;
}

.nav-signup, .nav-login, .nav-logout { 
    /* background-color: yellow; */
    display: flex;
    width: 70%;
    height: 50%;
    border-left: 1px solid rgb(190, 190, 190);
    align-items: center;
    justify-content: center;
}

.nav-logout {
    min-width: 50%;
}

.nav-signup:hover, .nav-login:hover, .nav-logout:hover { 
    color: #260273;
    font-weight: 700;
    cursor: pointer;
}

.home-wrapper {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    height: auto; 
    width: 100%;
}

.main-div {
    /* background-color: cadetblue; */
    width: 90%;
    display: flex;
    flex-direction: column;
}

.inner-home-div {
    /* background-color: blueviolet; */
    height: 550px;
    position: relative;
}

.pup-home-div {
    position: absolute;
    top: 50%;
    left: 20%;
    display: block;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
   /* max-width: 100%; */
}

.pup-picks-home-div { 
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 500px;
}

.articles-home-div { 
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 500px;
}
