 #root {
     /* background-color: cornflowerblue; */
     position: relative;
     width: 100vw;
     height: 100vh;
 }

 .app {
     /* background-color: turquoise; */
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     /* align-items: center; */
     /* padding-top: 30px; */
     width: 100vw;
     height: 100vh;
 }

 .top-navbar-wrapper {
     /* background-color: rgb(114, 114, 170); */
     /* border-bottom: 1px solid rgb(190, 190, 190); */
     padding-top: 12px;
     width: 100%;
     height: 70px;
     position: sticky;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .top-navbar {
     /* background-color: wheat; */
     min-width: auto;
     width: 90%;
     height: 100%;
     display: flex;
     position: sticky;
     top: 0;
     left: 0;
     align-items: center;
     justify-content: space-between;
 }

 .top-navbar-logo-div {
     /* background-color: violet; */
     width: 260px;
     height: 100%;
     display: flex;
     align-items: center;
 }

.top-navbar-logo {
    /* margin: auto; */
    display: block;
    min-width: 60%;
    max-width: 60%;
    min-height: 60%;
    padding-left: 10px;
}

.navbar-right {
    /* background-color: yellow; */
    height: 100%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-signup, .nav-login, .nav-logout { 
    /* background-color: yellow; */
    display: flex;
    width: 70%;
    height: 50%;
    border-left: 1px solid rgb(190, 190, 190);
    align-items: center;
    justify-content: center;
}

.nav-signup:hover, .nav-login:hover, .nav-logout:hover { 
    color: #260273;
    font-weight: 700;
    cursor: pointer;
}

.currentuser-name {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-wrapper {
    /* background-color: aquamarine; */
    position: relative;
    display: flex;
    justify-content: center;
    height: auto; 
    width: 100vw;
}

.main-div {
    /* background-color: cadetblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inner-home-div {
    padding-top: 10px;
    /* background-color: blueviolet; */
    height: 550px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   /* max-width: 100%; */
}

.articles-home-div { 
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 500px;
}

