// Place all the styles related to the Meets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meet-grid {
    position: relative;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    justify-content: center;
}

.meet-item-div{
    height: 105px;
    width: 500px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray
}

.meet-item-wrapper {
    // overflow: hidden;
   display: flex;
   align-items: center;
   width: 100%;
}

.meet-item-pup-thumb {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
}

.meet-index-header {
    font-size: 30px;
    margin-top: 25px;
    padding-bottom: 30px;
}

.meet-item-info {
    padding-left: 40px;
    line-height: 1.5;
    width: 50%;
}

.meet-item-info > h1 {
    font-size: 20px;
    color: #260273;
}

.meet-item-info > h3 {
    font-size: 15px;
}

.meet-item-info > p {
    font-size: 12px;

}

.meet-item-buttons {
    width: 200px;
    display: flex;
    padding-left: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.edit-button, .trash-button {
    font-size: 1.4rem;
    color: rgb(37, 37, 37);
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button:hover, .trash-button:hover {
    font-size: 1.5rem;
    background-color: #dbdbdb;
    border-radius: 50%;
    color: #260273;
}