.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  background: whitesmoke;
  background-image: url('dog-pattern.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 680px 680px;
  top: 50%;
  left: 50%;
  min-width: auto;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.836);
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  /* padding: 10px; */
}

.form-header {
  /* background-color: turquoise; */
  font-family: 'Poppins', sans-serif;
  color: #3f04bf;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.login-form, .signup-form {
  /* background: darkcyan; */
  /* width: 400px; */
  display: block;
  padding: 10px 50px;
  color: rgb(65, 65, 65);
}

.close-x {
  padding: 20px 20px 0 0;
}

.close-x > button {
  /* background: green; */
  /* background-color: #260273da; */
  color:#260273;
  padding: 10px;
  float: right;
  border-radius: 5px;
  font-size: 20px;
}

.close-x > button:hover {
  cursor: pointer;
  background-color: #260273;
  color: whitesmoke;
}

.close-x > button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translateY(4px);
  background-color: #260273;
}

input {
  width: 90%;
  padding: 10px 0px 10px 10px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
  margin: 8px 0px;
  font-family: 'Poppins', sans-serif;
}

.form-button {
  /* border: 1px solid #3f04bf; */
  background-color: #260273;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  width: 95%;
  margin: 8px 0px;
  padding: 12px 20px;
  border-radius: 20px;
}

.form-button:hover {
  background-color: #260273;
  /* border: 1px solid #3f04bf; */
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.form-button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translateY(4px);
}

.other-form-link {
  /* background-color: violet; */
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  color: rgb(65, 65, 65);
}

.other-form {
  text-decoration: underline;
  color:#260273;
  font-weight: 600;
  cursor: pointer;
  color: rgb(65, 65, 65);
}

.error-list {
  color: rgb(201, 25, 25);
  font-size: 14px;
}